/* rubik-300 - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: local(''),
    url('../fonts/rubik-v21-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/rubik-v21-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-regular - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/rubik-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/rubik-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500 - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/rubik-v21-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/rubik-v21-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body {
    background: #F6F6F6;
    font-family: 'Rubik';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    padding: 20px 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
}

.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.header_list{
    display: flex;
    flex-wrap: wrap;
}

.header_item{
    margin-right: 40px;
}

.header_item:last-child{
    margin-right: 150px;
}

.header_link{
    font-size: 16px;
    line-height: 19px;
    color: #4F5665;
    text-decoration: none;
}
.header_logo{
    position:relative;
    bottom:-10px;
}


.sign_in{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0B132A;
    text-decoration: none;
    margin-right: 30px;

}
.header_button{
    background: transparent;
    border: 0;
    border-radius: 0;
    color: #F53855;
}

.button_inner {
    border: 1px solid #F53855;
    border-radius: 99em;
    font-weight: 600;
    padding: 13px 30px;
    font-size: 16px;
    line-height: 19px;
}
.header_link_button{
    font-size: 16px;
    line-height: 19px;
    color: #F53855;
    text-decoration: none;

}
.header_link:hover, .header_link:focus,.header_link:active{
    opacity: .75;
}
.info{
    padding-top: 101px;
}

.info .container{
    display: flex;
}

.info .info_left{
    margin-top: 80px;
    max-width: 555px;
    width: 100%;
}

.info .main_title{
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;
}

.info .second_title{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.info .main_title span{
    font-weight: 700;
}

.info .second_title span{
    font-weight: 500;
}

.info .info_btn{
    margin-top: 40px;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: #F53855;
}

.info .button_inner{
    border: 1px solid #F53855;
    border-radius: 15px;
    font-weight: 600;
    padding: 17px 77px;
    font-size: 16px;
    line-height: 19px;
    background: #F53838;
    box-shadow: 10px 5px 5px rgba(245, 56, 56, 0.35);
}
.info .header_link_button{
    font-size: 16px;
    line-height: 19px;
    color: white;
    text-decoration: none;

}

.info .info_right{
    margin-left: 10px;
    width: 50%;
}

.stats{
    margin-top: 80px;
}

.stats .container{
    display: flex;
    width: 1140px;
    height: 200px;
    border-radius: 10px;
    background: #FFFFFF;
}

.stats .container .content{
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 68px;
}
.stats .container .content p{
    margin-left: 36px;
}
.stats .container .content p:last-child{
    margin-top: 5px;
}

.stats .main_title{
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    margin-left: 36px;
}

.stats .second_title{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-left: 5px;
}

.stats .container .content img{
    margin-left: 190px;
}
.stats .container .content img:first-child{

    margin-left: 36px;
}

.features{
    margin-top: 70px;
}

.features .container{
    display: flex;
}

.features_left {
    max-width: 555px;
    width: 100%;
}

.features_left img {
    width: 100%;
}
.features .container .features_right {
    max-width: 430px;
    width: 100%;
    margin-left: 170px;
}

.features .container .main_title{
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
}

.features .container .second_title{
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.features .container .features_list{
    margin-top: 20px;
}

.features_list li{
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}

.features_list img{
    position: relative;
    top: 5px;
    margin-right: 12px;
}

.features_list li::before {
    content: url("../img/Group-1120.png");
    position: relative;
    top: 5px;
    margin-right: 12px;
}

.subscription{
    background-color: #fbfbfb;
    margin-top: 80px;
}

.subscription .container{

}
.subscription .container .sub_header{
    max-width: 555px;
    justify-content: center;
    margin-left: 280px;
    margin-top: 40px;
}
.subscription .container .main_title {
    text-align: center;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.subscription .container .second_title {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
    margin-bottom: 30px;
}

.subscription .sales{
    padding: 60px;
    display:inline-flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    align-items: center;
    border: 2px solid #dddddd;
    border-radius: 10px;
    margin: 30px;
    height: 760px;
}

.subscription .sales h3{
    margin-top: 25px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.subscription .sales .sales_plan ul li{
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.subscription .sales .sales_plan li::before {
    content: url("../img/Vector.png");
    margin-right: 26px;
}

.subscription .sales h4{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.sale_button{
    margin-top: 10px;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: #F53855;

}

.button_inner_sale {
    border: 2px solid #F53838;
    border-radius: 50px;
    font-weight: 600;
    padding: 13px 62px;
    font-size: 16px;
    line-height: 19px;

}

.sale_link_button{
    font-size: 16px;
    line-height: 19px;
    color: #F53855;
    text-decoration: none;

}

.sales .price {
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.sales .price span{
    color: #4F5665;
}

.sales:last-child{
    border: 2px solid #F53838;
    border-radius: 10px;
}

.sales .sale_bot{
    margin-top: auto;
    text-align: center;
}

.map{
    margin-top: 20px;
    background: #F6F6F6;

}

.map h2{
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    b: #0B132A;
    margin-top: 40px;
}
.map .header_map{
    max-width: 555px;
    margin-left: 350px;
}
.map .header_map .main_block{
    margin-left: 50px;
    max-width: 390px;
}
.map .header_map .second_block{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}

.map .header_map .second_block span{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}

.map p{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}

.map .map_img{
    margin-top: 100px;
    height: 100%;
    width: 100%;
}

.map .company{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.map .company .company_img{
    display: inline-flex;
    height: 70px;
    width: 170px;
    object-fit: cover;
    margin-bottom: unset;
}
.map .company .company_img .fix{
    width: 200px;
    height: 170px;
    margin-top: -45px;
}
.users{
    margin-top: 70px;

}

.users .main_title{
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
    max-width: 500px;
    margin-left: 320px;
}

.users .second_title{
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
    margin-bottom: 45px;
    max-width: 470px;
    margin-left: 280px;
}
.users .test{
    display: inline-flex;
}
.users .main_users{
    padding: 15px;
    height: 250px;
    width: 350px;
    margin-right: 30px;
    border: 2px solid #dddddd;
    border-radius: 12px;
}
.users .main_users:first-child{
    border: 2px solid red;
}
.users .users_message_top{
    width: 310px;
    display: inline-flex;
}

.users .users_name{
    width: 200px;
    margin-left: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
}

.users .location{
    margin-left: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
    flex-direction: column;
}

.users .users_message_top .users_rating{
    color: #0B132A;

}

.users .users_message_top .users_rating::after {
    content: url("../img/Group 1161.png");

}

.users  .users_comment{
    line-height: 30px;
    color: #0B132A;
}

.users .paginate{
    width: 1200px;
    display: flex;
    margin-top: 80px;
}

.users .paginate .dots{
    display: flex;
}
.users .paginate .dots .spin{
    height: 15px;
    width: 55px;
    background-color: red;
    margin-right: 10px;
    border-radius: 20%;
    cursor: pointer;
}
.users .paginate .dots .dot{
    height: 15px;
    width: 15px;
    background-color: #ddd;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.users .paginate .arrows{
    display: flex;
    justify-content: flex-end;
    margin-left: 800px;
    margin-top: -30px;
}
.users .paginate .arrows .arrow_left{
    display: flex;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #f53838;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.users .paginate .arrows .arrow_right{
    display: flex;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #f53838;
    justify-content: center;
    align-items: center;
    background-color: #f53838;

}

.follow {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-radius: 10px;
    position: relative;
    top: 120px;
    background-color: #fff;
    height: 250px;
}

.follow .follow_left {
    display: block;
    max-width: 600px;
    max-height: 250px;
}

.follow_left .main_title{
    width: 371px;
    height: 80px;
    margin-top: 58px;
    margin-left: 20px;
    align-items: center;
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
}
.follow .follow_left .second_title{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #4F5665;
}

.follow .follow_right{
    width: 100%;
    margin-top: 20px;
}

.follow_button{
    margin-top: 10px;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: white;

}

.follow_inner_sale {
    border: 2px solid #F53838;
    border-radius: 50px;
    font-weight: 600;
    padding: 13px 62px;
    font-size: 16px;
    line-height: 19px;
    background: #F53855;
    box-shadow: 10px 5px 5px rgba(245, 56, 56, 0.35);

}

.follow_link_button{
    font-size: 16px;
    line-height: 19px;
    color: white;
    text-decoration: none;
}

.footer{
    background-color: #f8f8f8;
    padding-top: 190px;
    padding-bottom: 50px;
}

.footer .container{
    display: flex;
    flex-direction: unset;
}

.footer .footer_logo{
    margin-bottom: 20px;
    width: 380px;
}

.footer .footer_logo p{
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}
.footer .footer_logo span{
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}
.footer .icons{
    display: inline-flex;
    margin: 30px 0;
}

.footer .icons .icon{
    display: flex;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.footer h4{
    margin-right: 140px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
}
.footer li{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}
.footer a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.footer .last{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #AFB5C0;
    margin-right: 270px;
}

.button_inner_sale_rgb{
    box-shadow: 10px 5px 5px rgba(245, 56, 56, 0.35);
}
