* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
* after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  margin: auto;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-aadjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Rubik";
  max-width: 1440px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  background: #ffffff;
  font-family: "Rubik";
}

.block {
  max-width: 1200px;
  padding: 0px 30px;
  width: 100%;
}

.shadow {
  box-shadow: 0 35px 20px rgba(235, 235, 242, 0.3803921569);
}

.header {
  padding-top: 45px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  position: relative;
}

.header_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px -5px;
}

.header__item {
  margin-right: 40px;
}

.header__link {
  font-size: 16px;
  line-height: 19px;
  color: #4f5665;
  text-decoration: none;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header__logo-link {
  width: 35px;
  height: 36px;
  margin-right: 5px;
}

.header__logo__text {
  margin-left: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #0b132a;
}

.header__logo-pic {
  width: 35px;
  height: 36px;
  margin-right: 5px;
}

.header__sign {
  display: flex;
  padding: 0 15px;
  max-width: 233px;
  justify-content: space-between;
}

.header__signin {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0b132a;
  margin-right: 5px;
  background-color: transparent;
}

.header__signup {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f53855;
  border: 1px solid #f53855;
  width: 150px;
  height: 45px;
  border-radius: 50px;
  background-color: transparent;
  margin-left: 5px;
}

.header__signup:hover {
  background: #f53838;
  color: #ffffff;
  -webkit-box-shadow: 0px 29px 23px -21px rgba(245, 56, 56, 0.75);
  -moz-box-shadow: 0px 29px 23px -21px rgba(245, 56, 56, 0.75);
  box-shadow: 0px 29px 23px -21px rgba(245, 56, 56, 0.75);
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding-top: 45px;
  padding-bottom: 50px;
}

.intro__about {
  max-width: 46%;
}

.intro__title {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0b132a;
  margin-bottom: 10px;
}

.intro__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  margin: 10px 0px 25px 0px;
}

.intro__button {
  margin-top: 25px;
  width: 250px;
  height: 60px;
  background: #f53838;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
}

.intro__button:hover {
  color: #ffffff;
  background: rgba(203, 3, 3, 0.8235294118);
  -webkit-box-shadow: 0px 29px 23px -21px rgba(245, 56, 56, 0.75);
  -moz-box-shadow: 0px 29px 23px -21px rgba(245, 56, 56, 0.75);
  box-shadow: 0px 29px 23px -21px rgba(245, 56, 56, 0.75);
}

.intro__image {
  max-width: 100%;
  height: auto;
}

.benefits {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.benefits__wrap {
  width: 100%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
  margin: auto;
  display: flex;
  padding: 37px 0px;
  justify-content: space-evenly;
}

.benefits__card {
  display: flex;
  align-items: center;
  margin: 0px 10px;
}

.benefits__card-pic {
  margin-right: 36px;
  width: 55px;
  height: 55px;
}

.benefits__card-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #0b132a;
  display: block;
}

.benefits__card-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
  display: block;
}

.benefits__line {
  width: 0px;
  min-height: 100%;
  border: 1px solid #eeeff2;
}

.feature {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 125px;
}

.feature__block {
  display: flex;
  justify-content: space-between;
}

.feature__image {
  max-width: 508px;
  margin-right: 20px;
}

.feature__text {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin-left: 20px;
}

.feature__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
  margin-top: 40px;
}

.feature__subtitle {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

.feature__list {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.feature__cheked {
  margin-right: 12px;
  width: 20px;
  height: 20px;
  align-self: center;
}

.feature__item {
  margin-left: 10px;
  margin-top: -5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
  align-self: center;
}

.feature__item::before {
  content: url("/img/section/feature/Vector.svg");
  position: relative;
  left: -12px;
  top: 7px;
}

.plan {
  background: linear-gradient(to top, #ffffff, 80%, #f6f6f6);
  margin: auto;
}

.plan__title__block {
  padding-top: 80px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
  padding-bottom: 10px;
  max-width: 384px;
}

.plan__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4f5665;
  max-width: 555px;
  padding-top: 10px;
  width: 100%;
}

.plans__cards__block {
  display: flex;
  justify-content: space-between;
}

.plan__card {
  width: 100%;
  margin: 0px 25px;
  background: #ffffff;
  border: 2px solid #dddddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  padding: 80px 10px 50px;
}

.plan__card:hover {
  border: 2px solid #f53838;
}

.plan__card-distr__block {
  height: 80%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan__card-pic {
  width: 145px;
  height: 165px;
}

.plan__card-title {
  align-self: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
  margin-top: 30px;
}

.plan__card-list__block {
  height: 80%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.plan__card-list {
  display: flex;
  margin-top: 10px;
}

.plan__card-list::before {
  content: url("/img/section/plan/checked.svg");
}

.plan__card__check-img {
  align-self: center;
  width: 13px;
  height: 9px;
}

.plan__card-desc {
  margin-left: 25px;
  align-self: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}

.plan__card-price__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 20%;
}

.plan__card-price {
  align-self: center;
  margin-top: 50px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
}
.plan__card-price mark {
  color: #4f5665;
  background-color: #ffffff;
}

.plan__select__button {
  margin-top: 20px;
  align-self: center;
  max-width: 178px;
  width: 100%;
  height: 45px;
  border: 2px solid #f53838;
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #f53838;
  background: #ffffff;
  transition: 0.5s;
}

.plan__select__button:hover {
  color: #ffffff;
  background: #f53838;
  -webkit-box-shadow: 0px 20px 20px -16px rgb(245, 56, 56);
  -moz-box-shadow: 0px 20px 20px -16px rgb(245, 56, 56);
  box-shadow: 0px 20px 20px -16px rgb(245, 56, 56);
}

.map {
  margin: auto;
}

.map__title__block {
  padding-top: 75px;
  padding-bottom: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
  padding-bottom: 10px;
  max-width: 384px;
  font-weight: 500;
  font-size: 35px;
}

.map__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4f5665;
  max-width: 555px;
  padding-top: 10px;
  width: 100%;
}

.map__image {
  margin: 0 auto;
  padding-top: 78px;
  padding-bottom: 18px;
}

.clients {
  margin: auto;
  align-items: center;
}

.clients__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 70px;
}

.clients__logo {
  max-height: 210px;
  padding-left: 10px;
  padding-right: 10px;
}

.customers {
  margin: auto;
  max-width: 1200px;
}

.customers__title__block {
  padding-top: 75px;
  padding-bottom: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.customers__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
  padding-bottom: 10px;
  max-width: 448px;
}

.customers__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4f5665;
  max-width: 555px;
  padding-top: 10px;
  width: 100%;
}

.customers__cards {
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.customer__card {
  width: 400px;
  border: 2px solid #dddddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-right: 50px;
}

.customer__info {
  display: flex;
  align-items: center;
}

.customer__photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
}

.customer__text {
  display: flex;
  flex-direction: column;
}

.customer__rating {
  margin-left: 0px;
  margin-top: 10px;
  align-self: flex-start;
}

.customer__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #0b132a;
}

.customer__location {
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #4f5665;
}

.customer__rating {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.customer__rate {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #0b132a;
  margin-right: 11px;
}

.customer__star {
  width: 13px;
  height: 13px;
  margin-bottom: 3px;
}

.customer__comment {
  margin-top: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #0b132a;
}

.buttons {
  margin: auto;
}

.buttons__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0px;
}

.button__dot {
  margin-left: 15px;
  border-radius: 12.5px;
  width: 15px;
  height: 15px;
  background: p #dde0e4;
}

.active__button {
  border-radius: 12.5px;
  width: 45px;
  height: 15px;
  background: #f53838;
}

.button__arrow {
  margin-left: 20px;
}

.rotated__arrow {
  transform: rotate(0.5turn);
}

.button__arrow:hover {
  stroke-width: 2.3px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 30px 15px rgba(206, 79, 79, 0.197);
  -moz-box-shadow: 0px 0px 30px 15px rgba(206, 79, 79, 0.197);
  box-shadow: 0px 0px 30px 15px rgba(206, 79, 79, 0.197);
}
.button__arrow:hover path {
  fill: #ffffff;
  stroke-width: 1px;
  stroke: #ffffff;
}
.button__arrow:hover circle {
  fill: #f53838;
}

.subscribe {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  padding: 58.5px 70px;
  z-index: 2;
  position: relative;
  top: 100px;
}

.subscribe__title {
  display: flex;
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  color: #0b132a;
  max-width: 372px;
  width: 100%;
}

.subscribe__subtitle {
  margin-top: 20px;
  max-width: 410px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #4f5665;
}

.subscribe__button {
  margin-left: 5px;
  width: 250px;
  height: 60px;
  background: #f53838;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
}

.subscribe__button:hover {
  color: #ffffff;
  background: rgba(203, 3, 3, 0.8235294118);
  -webkit-box-shadow: 0px 29px 23px -21px rgba(245, 56, 56, 0.75);
  -moz-box-shadow: 0px 29px 23px -21px rgba(245, 56, 56, 0.75);
  box-shadow: 0px 29px 23px -21px rgba(245, 56, 56, 0.75);
}

.footer {
  margin: auto;
  background-color: #f8f8f8;
}

.footer__wrapper {
  padding: 164px 30px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.footer__logo-link img {
  width: 35px;
  height: 35px;
}

.footer__com_name {
  width: 104px;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #0b132a;
  margin-left: 10px;
}

.footer__vpn {
  margin-top: 26px;
  max-width: 340px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  margin-bottom: 30px;
}

.footer__socs {
  display: flex;
  justify-content: space-between;
  max-width: 140px;
}

.footer__soc {
  width: 33px;
  height: 33px;
  box-shadow: 0px 13px 18px rgba(17, 19, 35, 0.08);
  border-radius: 50%;
  overflow: hidden;
}

.footer__year {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #afb5c0;
}

.footer__nav {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  max-width: 50%;
  width: 100%;
}

.footer__menu {
  display: flex;
  flex-direction: column;
}

.footer__menu-title {
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
  padding-bottom: 20px;
}

.footer__menu-item {
  text-align: left;
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  background: transparent;
}
.footer__menu-item a {
  color: #4f5665;
}

@media (max-width: 768px) {
  .customer__card:nth-child(n+2) {
    display: none;
  }
  .customer__card:nth-child(1) {
    margin: auto;
  }
}
@media (max-width: 1024px) {
  .block {
    max-width: calc(0.4rem + 116.641vw);
    padding: 0px calc(0.4rem + 2.383vw);
  }
  .header {
    padding-top: calc(0.4rem + 3.848vw);
    padding-bottom: calc(0.4rem + 3.848vw);
  }
  .header__item {
    margin-right: calc(0.4rem + 3.359vw);
  }
  .header__link {
    font-size: calc(0.4rem + 1.016vw);
    line-height: calc(0.4rem + 1.309vw);
  }
  .header__logo {
    margin-right: calc(0.4rem + 1.406vw);
  }
  .header__logo-link {
    width: calc(0.4rem + 2.871vw);
    height: calc(0.4rem + 2.969vw);
    margin-right: calc(0.4rem - 0.059vw);
  }
  .header__logo__text {
    margin-left: calc(0.4rem - 0.059vw);
    font-size: calc(0.4rem + 1.406vw);
    line-height: calc(0.4rem + 1.797vw);
  }
  .header__logo-pic {
    width: calc(0.4rem + 2.871vw);
    height: calc(0.4rem + 2.969vw);
    margin-right: calc(0.4rem - 0.059vw);
  }
  .header__sign {
    padding: 0 calc(0.4rem + 0.918vw);
    max-width: calc(0.4rem + 22.207vw);
  }
  .header__signin {
    font-size: calc(0.4rem + 1.016vw);
    line-height: calc(0.4rem + 1.309vw);
    margin-right: calc(0.4rem - 0.059vw);
  }
  .header__signup {
    font-size: calc(0.4rem + 1.016vw);
    line-height: calc(0.4rem + 1.309vw);
    border: 1px solid #f53855;
    width: calc(0.4rem + 14.102vw);
    height: calc(0.4rem + 3.848vw);
    border-radius: calc(0.4rem + 4.336vw);
    margin-left: calc(0.4rem - 0.059vw);
  }
  .intro {
    padding-top: calc(0.4rem + 3.848vw);
    padding-bottom: calc(0.4rem + 4.336vw);
  }
  .intro__title {
    font-size: calc(0.4rem + 4.336vw);
    line-height: calc(0.4rem + 6.289vw);
    margin-bottom: calc(0.4rem + 0.43vw);
  }
  .intro__subtitle {
    font-size: calc(0.4rem + 1.016vw);
    line-height: calc(0.4rem + 2.383vw);
    margin: calc(0.4rem + 0.43vw) 0px calc(0.4rem + 1.895vw) 0px;
  }
  .intro__button {
    margin-top: calc(0.4rem + 1.895vw);
    width: calc(0.4rem + 23.867vw);
    height: calc(0.4rem + 5.313vw);
    border-radius: calc(0.4rem + 0.43vw);
    font-size: calc(0.4rem + 1.016vw);
    line-height: calc(0.4rem + 1.895vw);
  }
  .benefits {
    padding-top: calc(0.4rem + 4.336vw);
    padding-bottom: calc(0.4rem + 4.336vw);
  }
  .benefits__wrap {
    padding-top: calc(0.4rem + 4.336vw);
    padding-bottom: calc(0.4rem + 4.336vw);
    border-radius: calc(0.4rem + 0.43vw);
    padding: calc(0.4rem + 3.066vw) 0px;
  }
  .benefits__card {
    margin: 0px calc(0.4rem + 0.43vw);
  }
  .benefits__card-pic {
    margin-right: calc(0.4rem + 2.969vw);
    width: calc(0.4rem + 4.824vw);
    height: calc(0.4rem + 4.824vw);
  }
  .benefits__card-title {
    font-size: calc(0.4rem + 1.895vw);
    line-height: calc(0.4rem + 2.383vw);
  }
  .benefits__card-desc {
    font-size: calc(0.4rem + 1.406vw);
    line-height: calc(0.4rem + 2.383vw);
  }
  .benefits__line {
    width: 0px;
    border: 1px solid #eeeff2;
  }
  .feature {
    padding-top: calc(0.4rem + 4.336vw);
    padding-bottom: calc(0.4rem + 11.66vw);
  }
  .feature__image {
    max-width: calc(0.4rem + 49.063vw);
    margin-right: calc(0.4rem + 1.406vw);
  }
  .feature__text {
    margin-left: calc(0.4rem + 1.406vw);
  }
  .feature__title {
    font-size: calc(0.4rem + 2.871vw);
    line-height: calc(0.4rem + 4.336vw);
    margin-top: calc(0.4rem + 3.359vw);
  }
  .feature__subtitle {
    margin-top: calc(0.4rem + 1.406vw);
    font-size: calc(0.4rem + 1.016vw);
    line-height: calc(0.4rem + 2.383vw);
  }
  .feature__list {
    margin-top: calc(0.4rem + 1.406vw);
  }
  .feature__cheked {
    margin-right: calc(0.4rem + 0.625vw);
    width: calc(0.4rem + 1.406vw);
    height: calc(0.4rem + 1.406vw);
  }
  .feature__item {
    margin-left: calc(0.4rem + 0.43vw);
    font-size: calc(0.4rem + 0.82vw);
    line-height: calc(0.4rem + 2.383vw);
  }
  .feature__item::before {
    top: calc(0.4rem + 0.137vw);
  }
  .plan__title__block {
    padding-top: calc(0.4rem + 7.266vw);
    padding-bottom: calc(0.4rem + 2.871vw);
  }
  .plan__title {
    font-size: calc(0.4rem + 2.871vw);
    line-height: calc(0.4rem + 4.336vw);
    padding-bottom: calc(0.4rem + 0.43vw);
    max-width: calc(0.4rem + 36.953vw);
  }
  .plan__subtitle {
    font-size: calc(0.4rem + 1.016vw);
    line-height: calc(0.4rem + 2.383vw);
    max-width: calc(0.4rem + 53.652vw);
    padding-top: calc(0.4rem + 0.43vw);
  }
  .plan__card {
    margin: 0px calc(0.4rem + 1.895vw);
    border: 2px solid #dddddd;
    border-radius: calc(0.4rem + 0.43vw);
    padding: calc(0.4rem + 7.266vw) calc(0.4rem + 0.43vw) calc(0.4rem + 4.336vw);
  }
  .plan__card:hover {
    border: 2px solid #f53838;
  }
  .plan__card-distr__block {
    padding-bottom: calc(0.4rem + 4.336vw);
  }
  .plan__card-pic {
    width: calc(0.4rem + 13.613vw);
    height: calc(0.4rem + 15.566vw);
  }
  .plan__card-title {
    font-size: calc(0.4rem + 1.211vw);
    line-height: calc(0.4rem + 2.383vw);
    margin-top: calc(0.4rem + 2.383vw);
  }
  .plan__card-list__block {
    padding-bottom: calc(0.4rem + 4.336vw);
  }
  .plan__card-list {
    margin-top: calc(0.4rem + 0.43vw);
  }
  .plan__card__check-img {
    width: calc(0.4rem + 1.211vw);
    height: calc(0.4rem + 0.332vw);
  }
  .plan__card-desc {
    margin-left: calc(0.4rem + 1.895vw);
    font-size: calc(0.4rem + 0.82vw);
    line-height: calc(0.4rem + 2.383vw);
  }
  .plan__card-price {
    margin-top: calc(0.4rem + 4.336vw);
    font-size: calc(0.4rem + 1.895vw);
    line-height: calc(0.4rem + 2.383vw);
  }
  .plan__select__button {
    margin-top: calc(0.4rem + 1.406vw);
    max-width: calc(0.4rem + 16.836vw);
    height: calc(0.4rem + 3.848vw);
    border: 2px solid #f53838;
    border-radius: calc(0.4rem + 4.336vw);
    font-size: calc(0.4rem + 1.016vw);
    line-height: calc(0.4rem + 1.309vw);
  }
  .map__title__block {
    padding-top: calc(0.4rem + 6.777vw);
    padding-bottom: calc(0.4rem + 7.07vw);
  }
  .map__title {
    font-size: calc(0.4rem + 2.871vw);
    line-height: calc(0.4rem + 4.336vw);
    padding-bottom: calc(0.4rem + 0.43vw);
    max-width: calc(0.4rem + 36.953vw);
    font-size: calc(0.4rem + 2.871vw);
  }
  .map__subtitle {
    font-size: calc(0.4rem + 1.016vw);
    line-height: calc(0.4rem + 2.383vw);
    max-width: calc(0.4rem + 53.652vw);
    padding-top: calc(0.4rem + 0.43vw);
  }
  .map__image {
    padding-top: calc(0.4rem + 7.07vw);
    padding-bottom: calc(0.4rem + 1.211vw);
  }
  .clients__block {
    margin-top: calc(0.4rem + 4.336vw);
    margin-bottom: calc(0.4rem + 6.289vw);
  }
  .clients__logo {
    max-height: calc(0.4rem + 19.961vw);
    padding-left: calc(0.4rem + 0.43vw);
    padding-right: calc(0.4rem + 0.43vw);
  }
  .customers {
    max-width: calc(0.4rem + 116.641vw);
  }
  .customers__title__block {
    padding-top: calc(0.4rem + 6.777vw);
    padding-bottom: calc(0.4rem + 7.07vw);
  }
  .customers__title {
    font-size: calc(0.4rem + 2.871vw);
    line-height: calc(0.4rem + 4.336vw);
    padding-bottom: calc(0.4rem + 0.43vw);
    max-width: calc(0.4rem + 43.203vw);
  }
  .customers__subtitle {
    font-size: calc(0.4rem + 1.016vw);
    line-height: calc(0.4rem + 2.383vw);
    max-width: calc(0.4rem + 53.652vw);
    padding-top: calc(0.4rem + 0.43vw);
  }
  .customers__cards {
    margin-left: calc(0.4rem + 2.383vw);
  }
  .customer__card {
    width: calc(0.4rem + 38.516vw);
    border: 2px solid #dddddd;
    border-radius: calc(0.4rem + 0.43vw);
    padding: calc(0.4rem + 2.383vw);
    margin-right: calc(0.4rem + 4.336vw);
  }
  .customer__photo {
    width: calc(0.4rem + 4.336vw);
    height: calc(0.4rem + 4.336vw);
    margin-right: calc(0.4rem + 1.406vw);
  }
  .customer__rating {
    margin-left: 0px;
    margin-top: calc(0.4rem + 0.43vw);
  }
  .customer__name {
    font-size: calc(0.4rem + 1.211vw);
    line-height: calc(0.4rem + 1.211vw);
  }
  .customer__location {
    margin-top: calc(0.4rem - 0.059vw);
    font-size: calc(0.4rem + 0.82vw);
    line-height: calc(0.4rem + 0.82vw);
  }
  .customer__rating {
    margin-left: calc(0.4rem + 0.43vw);
  }
  .customer__rate {
    font-size: calc(0.4rem + 1.016vw);
    line-height: calc(0.4rem + 1.016vw);
    margin-right: calc(0.4rem + 0.527vw);
  }
  .customer__star {
    width: calc(0.4rem + 1.211vw);
    height: calc(0.4rem + 1.211vw);
    margin-bottom: 3px;
  }
  .customer__comment {
    margin-top: calc(0.4rem - 0.059vw);
    font-size: calc(0.4rem + 1.016vw);
    line-height: calc(0.4rem + 2.383vw);
  }
  .buttons__block {
    padding: calc(0.4rem + 5.313vw) 0px;
  }
  .button__dot {
    margin-left: calc(0.4rem + 0.918vw);
    border-radius: calc(0.4rem + 0.674vw);
    width: calc(0.4rem + 0.918vw);
    height: calc(0.4rem + 0.918vw);
  }
  .active__button {
    border-radius: calc(0.4rem + 0.674vw);
    width: calc(0.4rem + 3.848vw);
    height: calc(0.4rem + 0.918vw);
  }
  .button__arrow {
    margin-left: calc(0.4rem + 1.406vw);
  }
  .button__arrow:hover {
    stroke-width: 2.3px;
  }
  .button__arrow:hover path {
    stroke-width: 1px;
  }
  .subscribe {
    border-radius: calc(0.4rem + 0.43vw);
    padding: calc(0.4rem + 5.166vw) calc(0.4rem + 6.289vw);
    top: calc(0.4rem + 9.219vw);
  }
  .subscribe__title {
    font-size: calc(0.4rem + 2.871vw);
    line-height: calc(0.4rem + 3.848vw);
    max-width: calc(0.4rem + 35.781vw);
  }
  .subscribe__subtitle {
    margin-top: calc(0.4rem + 1.406vw);
    max-width: calc(0.4rem + 39.492vw);
    font-size: calc(0.4rem + 1.016vw);
    line-height: calc(0.4rem + 1.016vw);
  }
  .subscribe__button {
    margin-left: calc(0.4rem - 0.059vw);
    width: calc(0.4rem + 23.867vw);
    height: calc(0.4rem + 5.313vw);
    border-radius: calc(0.4rem + 0.43vw);
    font-size: calc(0.4rem + 1.016vw);
    line-height: calc(0.4rem + 1.895vw);
  }
  .footer__wrapper {
    padding: calc(0.4rem + 15.469vw) calc(0.4rem + 2.383vw);
  }
  .footer__logo-link img {
    width: calc(0.4rem + 2.871vw);
    height: calc(0.4rem + 2.871vw);
  }
  .footer__com_name {
    width: calc(0.4rem + 9.609vw);
    height: calc(0.4rem + 1.797vw);
    font-size: calc(0.4rem + 1.406vw);
    line-height: calc(0.4rem + 1.797vw);
    margin-left: calc(0.4rem + 0.43vw);
  }
  .footer__vpn {
    margin-top: calc(0.4rem + 1.992vw);
    max-width: calc(0.4rem + 32.656vw);
    font-size: calc(0.4rem + 1.016vw);
    line-height: calc(0.4rem + 2.383vw);
    margin-bottom: calc(0.4rem + 2.383vw);
  }
  .footer__socs {
    max-width: calc(0.4rem + 13.125vw);
  }
  .footer__soc {
    width: calc(0.4rem + 2.676vw);
    height: calc(0.4rem + 2.676vw);
    box-shadow: 0px calc(0.4rem + 1.211vw) calc(0.4rem + 1.211vw) rgba(17, 19, 35, 0.08);
  }
  .footer__year {
    font-size: calc(0.4rem + 1.016vw);
    line-height: calc(0.4rem + 2.383vw);
  }
  .footer__nav {
    margin-left: calc(0.4rem + 0.43vw);
  }
  .footer__menu-title {
    font-size: calc(0.4rem + 1.211vw);
    line-height: calc(0.4rem + 2.383vw);
    padding-bottom: calc(0.4rem + 1.406vw);
  }
  .footer__menu-item {
    margin-top: calc(0.4rem + 0.43vw);
    font-size: calc(0.4rem + 1.016vw);
    line-height: calc(0.4rem + 2.383vw);
  }
  .customer__card:nth-child(n+3) {
    display: none;
  }
  .intro__title {
    font-size: calc(1.37rem + 3vw);
    line-height: calc(2.8rem + 3vw);
  }
}

/*# sourceMappingURL=style.css.map */
