* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
* after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-aadjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Rubik";
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #f6f6f6;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
}

.wrapper {
  max-width: 1200px;
  padding: 0px 30px;
  width: 100%;
}

.header {
  padding-top: 45px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

.header__wrapper {
  display: flex;
}

.header_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px -5px;
}
.header_list li {
  display: block;
}

.header__item {
  margin-right: 40px;
}

.header__link {
  font-size: 16px;
  line-height: 19px;
  color: #4f5665;
  text-decoration: none;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header__logo-link {
  width: 35px;
  height: 36px;
  margin-right: 5px;
}

.header__logo__text {
  margin-left: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #0b132a;
}

.header__logo-pic {
  width: 35px;
  height: 36px;
  margin-right: 5px;
}

.header__sign {
  display: flex;
  align-items: center;
  margin-left: 20px;
  max-width: 233px;
  justify-content: space-between;
}

.header__signin {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0b132a;
  margin-right: 5px;
  background-color: transparent;
}

.header__signup {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f53855;
  border: 1px solid #f53855;
  width: 150px;
  height: 45px;
  border-radius: 50px;
  background-color: transparent;
  margin-left: 5px;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding-top: 45px;
  padding-bottom: 50px;
  background-color: #f6f6f6;
}

.intro__title {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0b132a;
  margin-bottom: 10px;
}

.intro__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  margin: 10px 0px 25px 0px;
}

.intro__button {
  margin-top: 25px;
  width: 250px;
  height: 60px;
  background: #f53838;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  -webkit-box-shadow: 0px 29px 23px -21px rgba(245, 56, 56, 0.75);
  -moz-box-shadow: 0px 29px 23px -21px rgba(245, 56, 56, 0.75);
  box-shadow: 0px 29px 23px -21px rgba(245, 56, 56, 0.75);
}

.intro__image {
  max-width: 60%;
}

.benefits__wrap {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  margin: auto;
  display: flex;
  padding: 37px 0px;
  justify-content: space-evenly;
}

.benefits__card {
  display: flex;
  align-items: center;
  margin: 0px 10px;
}

.benefits__card-pic {
  margin-right: 36px;
  width: 55px;
  height: 55px;
}

.benefits__card-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #0b132a;
  display: block;
}

.benefits__card-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
  display: block;
}

.benefits__line {
  width: 0px;
  min-height: 100%;
  border: 1px solid #eeeff2;
}

.feature {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 125px;
  display: flex;
  justify-content: space-between;
}

.feature__wrapper {
  max-width: 1200px;
  padding: 0px 30px;
  width: 100%;
}

.feature__image {
  max-width: 508px;
  margin-right: 20px;
}

.feature__text {
  display: flex;
  flex-direction: column;
}

.feature__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
  margin-top: 40px;
}

.feature__subtitle {
  margin-top: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

.plan {
  width: 100%;
  background-color: #fdfdfd;
  padding-top: 30px;
  padding-bottom: 75px;
}

.plan__title {
  padding-top: 80px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 35px;
}

.plan__subtitle {
  padding-top: 80px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
}

.plans__cards {
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding: 0px 20px;
}

.plans__card-price {
  align-self: center;
  margin-top: 50px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
}

.plans__select__button {
  margin-top: 20px;
  align-self: center;
  max-width: 178px;
  width: 100%;
  height: 45px;
  border: 2px solid #f53838;
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #f53838;
  background: #ffffff;
  transition: 0.5s;
}

.map__title {
  padding-top: 75px;
  padding-bottom: 78px;
  font-weight: 500;
  font-size: 35px;
  color: #0b132a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map__image {
  margin: 0 auto;
  padding-top: 78px;
  padding-bottom: 18px;
}

.clients {
  align-items: center;
}

.clients__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 70px;
}

.clients__logo {
  max-height: 210px;
  padding-left: 10px;
  padding-right: 10px;
}

.trusted {
  width: 100%;
  background-color: #fdfdfd;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 30px;
  max-width: 1200px;
  padding: 0px 30px;
  width: 100%;
}

.trusted__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
  padding-bottom: 10px;
  max-width: 448px;
}

.trusted__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4f5665;
  max-width: 555px;
  padding-top: 10px;
  width: 100%;
}

.customers__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customer__info {
  display: flex;
  align-items: center;
}

.customer__photo {
  min-width: 50px;
  min-height: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
}

.customer__rating {
  margin-left: 0px;
  margin-top: 10px;
  align-self: flex-start;
}

.customer_text {
  display: flex;
  flex-direction: column;
}

.customer__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #0b132a;
}

.customer__location {
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #4f5665;
}

.customer__rating {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.customer__rate {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #0b132a;
  margin-right: 11px;
}

.customer__star {
  width: 13px;
  height: 13px;
  margin-bottom: 3px;
}

.customer__comment {
  margin-top: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #0b132a;
  width: 85%;
}

.buttons__block {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 30px;
  max-width: 1200px;
  padding: 0px 30px;
  width: 100%;
}

.buttons__left {
  display: flex;
}

.button_dot {
  border-radius: 12.5px;
  width: 15px;
  height: 15px;
  background: #dde0e4;
}

.button_reddot {
  border-radius: 12.5px;
  width: 45px;
  height: 15px;
  background: #f53838;
}

.buttons__right {
  display: flex;
}

.button__nav {
  background-color: #f6f6f6;
}

.subscribe {
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
}

.subscribe__block {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  position: relative;
  top: -50%;
  padding: 58.5px 70px;
}

.subscribe__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 40px;
  color: #0b132a;
  max-width: 372px;
  width: 100%;
}

.subscribe__subtitle {
  margin-top: 20px;
  max-width: 410px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #4f5665;
}

.subscribe__button {
  margin-left: 5px;
  width: 250px;
  height: 60px;
  background: #f53838;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  -webkit-box-shadow: 0px 29px 23px -21px rgba(245, 56, 56, 0.75);
  -moz-box-shadow: 0px 29px 23px -21px rgba(245, 56, 56, 0.75);
  box-shadow: 0px 29px 23px -21px rgba(245, 56, 56, 0.75);
}

.footer {
  width: 100%;
  background-color: #f8f8f8;
}

.footer__block {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  position: relative;
  top: -50%;
  padding: 58.5px 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo-link {
  width: 35px;
  height: 35px;
}

.footer__vpn {
  margin-top: 26px;
  max-width: 340px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

.footer__socs {
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  max-width: 140px;
  width: 100%;
}

.footer__soc {
  width: 33px;
  height: 33px;
  box-shadow: 0px 13px 18px rgba(17, 19, 35, 0.08);
  border-radius: 50%;
  overflow: hidden;
}

.footer__nav {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  max-width: 50%;
  width: 100%;
}

.footer__menu {
  display: flex;
  flex-direction: column;
}

.footer__menu__title {
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
  margin-bottom: 10px;
}

.footer__menu-item {
  text-align: left;
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  background: transparent;
}
.footer__menu-item a {
  color: #4f5665;
}

/*# sourceMappingURL=style.css.map */
